<form action="/suma" method="post">
  <label for="txtNumero1">Numero 1</label>
  <input type="text" id="txtNumero1" name="txtNumero1"
    value="{{txtNumero1}}" placeholder="numero entero 1"
    />
      <br />
    <label for="txtnumero2">Numero 2</label>
    <input type="text" id="txtNumero2" name="txtNumero2"
      value="{{txtNumero2}}" placeholder="numero entero 2"
      />
    <br />
    <input type="submit" value="Sumar" id="btnsubmit"
      name="btnsubmit"/>
</form>
<div>
  <ul>
      <li>
        {{sum}}</br>
      </li>
  </ul>

</div>
